# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GolemArenaPrototype.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\GolemArenaPrototype\.idea\.idea.GolemArenaPrototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
